.vditor-reset {
    color: #34495e;
}

.vditor-reset h1, .vditor-reset h2 {
    border-bottom: 1px solid rgba(11, 50, 137, 0.1)
}


.vditor-reset hr {
    background-color: rgba(11, 50, 137, 0.1);
}

.vditor-reset blockquote {
    border: 1px solid rgba(11, 50, 137);
    padding: 10px 15px;
    border-radius: 15px;
    color: rgba(11, 50, 137, 0.5);
    background-color: rgba(227, 249, 253, 0.2);
}

.vditor-reset iframe {
    border: 1px solid rgba(11, 50, 137, 0.3)
}

.vditor-reset table th {
    background-color: rgba(227, 249, 253, 1)
}


.vditor-reset table tr {
    border-top: 1px solid rgba(11, 50, 137, 0.3);
    background-color: rgba(227, 249, 253, 0.2)
}

.vditor-reset table td, .vditor-reset table th {
    border: 1px solid rgba(11, 50, 137, 0.2);
}

.vditor-reset table tbody tr:nth-child(2n) {
    background-color: #fff
}

.vditor-reset code:not(.hljs):not(.highlight-chroma) {
    padding: 2px 4px;
    background-color: rgba(227, 249, 253);
    color: rgb(11, 50, 137);
    border-radius: 2px;
}

.vditor-reset kbd {
    color: rgba(11, 50, 137);
    background-color: rgba(227, 249, 253, 0.1);
    border: solid 1px rgba(11, 50, 137, 0.1);
    box-shadow: inset 0 -1px 0 rgba(11, 50, 137, 0.1);
}

.vditor-reset a {
    color: rgb(250, 81, 124);
    font-weight: 600;
    padding: 0 2px;
    text-decoration: none;
}

.vditor-linkcard__title {
    color: #24292e;
}

.vditor-linkcard__abstract {
    color: #586069;
}

.vditor-linkcard__site {
    color: rgba(11, 50, 137);
}

.vditor-linkcard__image {
    background-color: rgba(11, 50, 137, 0.36);
}

.vditor-reset mark {
    background-color: rgba(11, 50, 137, 0.5);
    border-radius: 2px;
    padding: 2px 4px;
    margin: 0 2px;
    color: #222;
    font-weight: 500;
}

.vditor-reset .md-footnote {
    background-color: rgba(227, 249, 253, 0.2);
    color: rgba(11, 50, 137);
}